@charset "UTF-8";

#titulo1{
    color:green ;}
#titulo2{
    color: red;}
.subtitulo1{
    color: chocolate;}
.subtitulo2{
    color: blue;}

.destaque1{
    color: firebrick;}
.destaque2{
    color: darkgreen;}
