@charset "UTF-8";

#botaomenu{
    display: none;
}

label[for='botaomenu']{
    cursor: pointer;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 5px;
    display: none;
    width: 40px;
    height: 40px;
    text-align: center;
    
}
#menu{
    margin-top: 10px;
    display: flex;
}
a{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
   
}
a:hover{
    background-color: white;
    outline: 1px solid black;
    color: black;
}
@media (max-width: 535px){
    #menu{
        flex-direction: column;
        margin-left: -200%;
        
    }
    label[for='botaomenu']{
        display: block;
    }
    #botaomenu:checked ~ #menu{
        margin-left: 0px;
    }
}
